################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs
/cric-profiler/.vs/ProjectEvaluation
/cric-profiler/bin/Debug/net8.0
/cric-profiler/obj
/cric-profiler/.vs/cric-profiler
/cric-profiler/cric-profiler.csproj.user
/cric-profiler.Handler/bin/Debug/net8.0
/cric-profiler.Handler/obj
